@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);

        <p>Signed in as: @user.DisplayName</p>
    }


<div>
    <h4>Create Roles</h4>
    <a asp-controller="Home" asp-action="CreateRoles">Create Roles Now</a>
    <a asp-controller="Home" asp-action="AddModerator">Add Moderator Now</a>
    <a asp-controller="Home" asp-action="RemoveModerator">Remove Moderator Now</a>

</div>
    

</div>
